button {
    outline: none !important;
}
a {
    outline: none !important;
}
input {
    color: var(--content-primary) !important;
}
::placeholder {
    color: var(--content-secondary) !important;
}

h4 {
    margin: 0px !important;
}

hr {
    background-color: var(--content-tertiary)
}

.form-control {
    border-bottom: 1px solid white !important;
}
custom-control-label::before {
    background-color: darkorange;
}

.eonnect-main-unexpanded {
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: var(--bg-secondary);
    color: var(--content-primary);
    border-radius: 15px 0px 0px 15px;
    min-height: 100%;

}

.eonnect-main-expanded {
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: var(--bg-secondary);
    color: var(--content-primary);
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    transition: all 0.5s;
    min-height: 100%;
}

#sidebar {
    width: 300px;
    padding-right: 25px;
    padding-top: 16px;
    position: fixed;
    border-radius: 0px 12px 12px 0px;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 3px solid transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
    background-origin: border-box;
    background-clip: content-box, border-box;
    object-fit: cover;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.main-avatar {
    width: 100px;
    height: 100px;
}


#mainLogo {
    width: 45px;
    height: auto;
}

#logoSupportingText {
    display: inline-block; padding-left: 12px;
    color: var(--content-primary)
}

#sidebarname {
    color: var(--content-primary);
    font-weight: 500;
}

#sidebarusername {
    color: var(--content-secondary);
    line-height: 0;
}

.vertical-divider {
    background-color: grey;
    height: 100%;
    width: 1px;
    display: inline-block;
    height: 38px
}

.stats-primary {
    color: var(--content-primary);
    line-height: 0px;
}

.stats-secondary {
    color: var(--content-secondary);

}

.sidebarnav {
width: 90%;
}

.navbarbuttontext {
    display: inline-block;
    padding-left: 52px;
    color: var(--content-secondary);
    font-weight: 400;
    margin: 0;
}

.navbarbuttontextactive {
    display: inline-block;
    font-weight: 500;
    color: var(--content-primary);
    padding-left: 52px;
    margin: 0;
}

.iconinactive {
    color: var(--content-secondary);
    padding: 6px;
}

.iconactive {
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    padding: 6px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;   
}

.gradicon {
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    padding: 6px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;   
}

.navbarbutton {
    width: 100%;
    padding: 6px;
    padding-left: 12px;
    text-align: left;
    z-index: auto;

}
.navbarbutton:hover {
    width: 100%;
    padding: 6px;
    padding-left: 12px;
    text-align: left;
}

.navthing {
    border-right: 3px solid orange;
    background-color: rgb(0, 0, 0, 0.2)
}
.navthing:hover {
    border-right: 3px solid orange;
    background-color: rgb(0, 0, 0, 0.2)
}

.tab-content {
    padding-left: 48px;
    padding-top: 12px;
    padding-right: 48px;
}


.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all 1.4s ease-in-out;
    -o-transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
    transition: all 1.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all 1.4s ease-in-out;
    -o-transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
    transition: all 1.4s ease-in-out;
    
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
    transition: all 2s
}

.btn-hover.color-4:hover {
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.30);
    transition: all 2s;
}

.createbtnicon {
    padding-right: 12px;
}

.hr {
    background-color: var(--content-secondary)
}
.leader {
    color: var(--content-primary);
    display: inline-block;
}

.dropdown {
    display: inline-block;
    padding-left: 24px;
    color: var(--content-primary);
}

.btn235ws {
    color: var(--content-primary) !important;
    outline: none !important;
    
}



.dropdown-item{ 
    background-color: var(--bg-primary);
    color: var(--content-primary);
}

.dropdown-menu:before {
    background-color: var(--bg-primary);
    color: var(--content-primary);
}

.grid {

    display: grid;
    justify-items: center;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 40px;
}

#usergrid {

    display: grid;
    justify-items: center;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 40px;
}

.postshell {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    width: 400px;
}

.shell {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    width: 400px;
}

.postimage {
    border-radius: 18px; 
    width: 100%; 
    max-height: 800px; 
    object-fit: cover
}

.navbar {
    padding: 0px;
}

.postpfp {
    width: 35px;
    height: 35px; 
    object-fit: cover; 
    padding: 2px; 
    border-radius: 35px;
    background-image: linear-gradient(white, white), linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
    background-origin: border-box;
    background-clip: content-box, border-box;
    object-fit: cover;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    cursor: pointer;  
    transition: all 1s; 
}

.postpfp:hover {
    border-radius: 0px;
    transition: all 1s;
}

.postname {
    left: 43px;
    color: var(--content-primary)
}

.postbuttons {

    background-color: transparent;
    border: 0px;
    color: var(--content-primary);
}

.posticon {
    display: inline-block; 
    color: var(--content-primary);
    cursor: pointer;
}

.postinfo {
    position: absolute;
    z-index: 10;
    left: 38px;
    top: 8px;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: grey;
    background: rgb(0, 0, 0, 0.1);
    border-radius: 18px !important;
    border: 0px;
    outline: none;
    transition: all 0.1s;
}

.postfullscreen {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    right: 38px;
    top: 8px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0, 0.1);
    border-radius: 18px !important;
    border: 0px;
    outline: none;
    transition: all 0.1s;
}

.postfullscreen:focus {
    outline: none;
}

.postfullscreen:active {
    background: rgb(0, 0, 0, 0.2);
    transition: all 0.1s;
}

.fullscreenelement {
    width: 100%; 
    height: 100%; 
    backdrop-filter: blur(30px);
    top: 0px; 
    left: 0px; 
    position: fixed; 
    z-index: 40000
}

.fullscreenimageelement {
    max-width:100%; 
    max-height:100%; 
}

.fullscreenbutton {
    top: 24px;
    padding-top: 4px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    background: rgb(0, 0, 0, 0.3);
    border-radius: 18px !important;
    border: 0px;
    z-index: 40001;
    outline: none;
    transition: all 0.1s;
    
}

.fullscreenbutton:focus {
    outline: none;
}

.verified {
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    padding: 6px;
    font-size: 24px;
    margin-top: -15px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;   
}

.usermodal-dialog {
    min-width: 90%;
}

.modal-content {
    background-color: var(--bg-tertiary);
    color: var(--content-primary);
    border-radius: 24px;
}

.uploadpreview {
    border-radius: 8px; 
    display: none; 
    width: 80%;
}

.imagepreviewtext {
    color: var(--content-secondary)
}

.popover {
    background-color: var(--bg-quaternary);
    color: var(--content-primary);
    border-radius: 12px;
}

.smallicon {
    font-size: 24px;
    color: var(--content-secondary);
    cursor: pointer;
}

.list-group-item {
    background-color: var(--bg-primary);
    color: var(--content-primary);
}

.list-group-item:hover {
    background-color: var(--bg-primary);
    color: var(--content-primary);
}

.expand-btn {
    left: 8px; 
    z-index: 2000;
    position: absolute;

    border-radius: 12px;
    border: 0px;
    color: white;
    padding-top: 6px;
    background-image: linear-gradient(135deg, var(--eon-primary), var(--eon-secondary));
}

.collapse-btn {
    left: 277px; 
    z-index: 2000;
    position: absolute;

    border-radius: 12px;
    border: 0px;
    color: white;
    padding-top: 6px;
    background-image: linear-gradient(135deg, var(--eon-primary), var(--eon-secondary));
}

.buttonunexpanded {
    width: 0px;
}

.buttonexpanded {
    width: 300px !important;
    z-index: 400;
    background-color: var(--bg-primary);
    height: 100%;
}

.doprofile {
    width: 100%; 
    height: 100%; 
    backdrop-filter: blur(20px);
    top: 0px; 
    left: 0px; 
    position: fixed; 
    z-index: 400000;
}

.doemail {
    width: 100%; 
    height: 100%; 
    backdrop-filter: blur(20px);
    top: 0px; 
    left: 0px; 
    position: fixed; 
    z-index: 400001;
}

.noitems {
    background-color: var(--bg-tertiary);
    color: var(--content-primary);
    display: inline-block;
}

.noitemsicon {
    font-size: 48px;
}

.userstats {
    background-color: var(--bg-primary)
}

.usermodalcolumn:first-child {
    border-right: 1px solid grey;
}
.usermodalcolumn:last-child {
    border-left: 1px solid grey;
}

#userrep {
    display: inline-block;
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    margin: 0px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#followicon {
    display: inline-block;
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    padding: 8px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.inline {
    display: inline-block;
    line-height: 0px;
}

.modal { overflow: auto !important; }

.usermodalpfp {
    width: 160px;
    height: 160px;
    border-radius: 150px;
    object-fit: cover;
}
.usershell {
    width: 340px;
}

.userbadge {
    border-radius: 12px; 
    font-size: 18px;
    margin-left: 12px;
    position: relative; 
    top: -3px;
}

.list-group-item:first-child {
    border-radius: 12px 12px 0px 0px;
}

.list-group-item:last-child {
    border-radius: 0px 0px 12px 12px;
}

.deletebtnunexpanded {
    width: 0px !important;
}

.deletebtnexpanded {
    width: 120px !important;
    background-color: rgb(238, 123, 0, 0.1) !important;
    transition: all 1s !important;
    justify-content: left !important;
}

.deletebtnexpandeddone {
    width: 140px !important;
}

.refreshbtn {
    padding: 12px !important;
    padding-left: 20px !important;
    border-radius: 12px !important;
    padding-right: 20px !important;
    margin-right: 12px !important;
    width: 0px !important;
    max-width: 0px !important;

}

.returntoptop {
    position: fixed !important;
    bottom: 12px; 
    right: 12px;
    display: none;
}

.usercard {
    background-color: var(--bg-secondary);
    color: var(--content-primary);
    position: relative; 
    z-index: 2; 
    animation-delay: 0.5s; 
    padding-bottom: 12px;
}

.userimg {
    border-radius: 15px 15px 0px 0px; 
    width: 100%; 
    max-height: 800px; 
    object-fit: cover
}

.captiontxt {
    max-width: 100%; 
    line-height: 0px;
}

.postuserbtn {
    padding-left: 3px !important; 
    padding-right: 3px !important; 
    color: var(--content-primary) !important;

}

.posticonuser {
    display: inline-block; 
    color: var(--content-primary); 
    padding: 3px;
}

#commentsbox {
    display: flex;
    flex-direction: column-reverse;
}

#commentsbox .card {
    background-color: var(--bg-quaternary)
}

.label {
    color: grey !important;
}

#commentbox {
    color: var(--content-primary);
}

.infobtn {
    color: white !important;
}