:root {
    --bg-primary: #282A34;
    --bg-secondary: #3C3F51;
    --bg-tertiary: #191a22;
    --bg-quaternary: #17181f;
    --eon-primary: #E2336B;
    --eon-secondary: #fcad45;
    --content-primary: #fff;
    --content-secondary: #c8c8c8;
    --content-tertiary: #5c5c5c;
    --contrast-primary: #000;
} 

body {
    background-color: var(--bg-primary);
    color: var(--content-primary);
    font-family: 'Baloo Paaji 2', cursive
}