:root {
    --bg-primary: #282A34;
    --bg-secondary: #3C3F51;
    --bg-tertiary: #191a22;
    --bg-quaternary: #17181f;
    --eon-primary: rgb(226, 51, 51);
    --eon-secondary: #fcad45;
    --content-primary: #fff;
    --content-secondary: #c8c8c8;
    --content-tertiary: #5c5c5c;
    --contrast-primary: #000;
} 

.eon-outlined .waves-ripple {
    background: rgba(255, 145, 0, 0.3) !important;
}

.eon-text .waves-ripple {
    background: rgba(255, 145, 0, 0.3) !important;
}

.eon-contained {
    background-color: #ee7b00 !important;
}
.eon-contained:hover {
    background-color: #ee7b00 !important;
}
.eon-outlined {
    background-color: transparent !important;
}
.eon-outlined:hover {
    background-color: rgb(238, 123, 0, 0.1) !important;
}
.eon-text {
    color: var(--eon-secondary) !important;
}
.eon-text:hover {
    background-color: rgb(238, 123, 0, 0.1) !important;
}

body {
    background-color: var(--bg-primary);
    color: var(--content-primary);
    font-family: 'Baloo Paaji 2', cursive
}