button {
  outline: none !important;
}

#grid {
    display: grid;
    grid-template-columns: 1;
    grid-gap: 10px;
    padding: 10px;
    max-width: 700px;
}

#gridfeed {
        display: grid;
        grid-template-columns: 1;
        grid-gap: 10px;
        padding: 10px;
        max-width: 700px;
    }
    

#usergrid {
        display: grid;
        grid-template-columns: 1;
        grid-gap: 10px;
        padding: 10px;
    }
          
  
  
  .placement {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navthing {
          background-color: rgb(98, 0, 238, 0.1) !important;
  }
  .nopurple {
          color: #121212 !important;
  }

  #pfp1:hover + #ree {
        display: block;
  }

.yellow {
        background-color: yellow !important;
        transition: all 1s;
}

#notifscard {

transition: all 0.5s;
height: 75px;
width: 75px;

}

.notif {
        transition: all 0.5s !important;
        height: 300px !important;
        width: 400px !important;
}

.centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
}

.centeredx {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translate(-50%,0);
        transition: all 1s;
}

/* The Loader */
#loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        overflow: hidden;
      }
      .no-js #loader-wrapper {
        display: none;
      }
      
      #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #16a085;
        -webkit-animation: spin 1.7s linear infinite;
                animation: spin 1.7s linear infinite;
        z-index: 11;
      }
      #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin-reverse .6s linear infinite;
                animation: spin-reverse .6s linear infinite;
      }
      #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1s linear infinite;
                animation: spin 1s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin-reverse {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(-360deg);
        }
      }
      @keyframes spin-reverse {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
        }
      }
      #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222;
        z-index: 10;
      }
      
      #loader-wrapper .loader-section.section-left {
        left: 0;
      }
      
      #loader-wrapper .loader-section.section-right {
        right: 0;
      }
      
      /* Loaded styles */
      .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      
      .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      
      .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      
      .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: all 0.3s 1s ease-out;
        transition: all 0.3s 1s ease-out;
      }
      

      .darken {
        background-color: #121212 !important;
        transition: all 1.5s !important;
      }

      .lighten {
        background-color: #ffffff;
        transition: all 1.5s;
      }


      .animated-link {
        margin-top: 40px;
        margin-bottom: 20px;
        max-width: 450px;
      }
      
      .animated-link a {
        text-decoration: none;
        font-weight: 400;
        color: #ffffff;
        background-repeat: no-repeat;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
      }
      
      .animated-link a {
        font-size: 48px;
        background-image: linear-gradient(270deg, orange, fuchsia);
        background-size: 100%;
        background-position: 0 50px;
      }
      
      .animated-link a:hover {
        background-position: 0 30px;
      }

      .notliked {
        background-color: #fff
      }
      .liked {
        color: red
      }